* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Removed excess .header selector down to the li selector*/
 h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}
/*Changed the div selector to nav selector to match semantic <nav> in HTMl*/
 nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Removed old div selector and duplicate ul selector on the li selector*/
 ul {
    list-style-type: none;
}

 li {
    display: inline-block;
    margin-left: 25px;
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*
   .float-left and .float-right selectors are classes on the img tag in HTML. So i deleted duplicate img selector associated with .S-S-O .O-R-M S-M-M and added them to float right and float left*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* consolidated the three separate selectors for .benefit-lead .benefit-brand .benefit-cost as they all had the same values.*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    
}


h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* created a class of .aside and applied it to the img's in the section containting the aside elements to consolidate the three repeated css img selectors that had the same values.*/
.aside {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/*consolidated the three separate selectors for .SS0 .ORM .SMM as they all had the same values.*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Changed the last <h> tag to h4 in HTML and removed duplicate footer selector*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

 h4 {
    font-size: 20px;
}
